
body {
    background-color: 	#F5F5DC
}


h1 {
    font-family: 'Carter One';
     font-size: 46px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align:center;
  line-height: 26.4px;
}



.here_for_you {

  font-family: 'Gochi Hand';
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align:center;
  line-height: 26.4px;
}

.hasitate {
	font-family: 'Amatic SC';
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align:center;
  line-height: 26.4px;
}


.our_email{ 

  font-family: 'Amatic SC';
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align:center;
  line-height: 26.4px;
}





