<!DOCTYPE html>
<html>
<head>

<link href="../static/css/contact.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Gochi Hand' rel='stylesheet' >
<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet' >
<link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'> 

	<title>contact BesTrip</title>
</head>
<body>

<h1>
	Contact us 
</h1>

<p class="here_for_you">
	WE ARE HERE FOR YOU
</p> 

<br> <br>

&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp; &emsp; <img src="../static/pictures/CONTACT.png" > 

 <br> <br>

<p class="our_email"> 
	Our email: BesTripEmail@gmail.com
<!--
  font-family: 'Calligraffitti';
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align:center; --> 
  
</p>

<p class="hasitate"> 
	Don't hesitate: <br>  &emsp; &emsp; ask and tell us what you feel about our platform 
</p>



</body>
</html>