<!DOCTYPE html>
<html>
<head>

<link href="../static/css/BesTrip.css" rel="stylesheet" type="text/css" />

<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' >
<link href='https://fonts.googleapis.com/css?family=Gochi Hand' rel='stylesheet' >
<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet' >


    <title> besTrip </title>
</head>

<body>

<br>
<br>

<div class="the_headers"> 
<a href="{{url_for('information')}}" class="information" >  INFORMATION </a> 
<a href="{{url_for('trips')}}" class="the_trips"> TRIPS </a> 
 <a href="{{url_for('contact')}}" class="contact"> CONTACT </a> 
</div>



<br>

<h1> BesTrip </h1>

<h2> aiming for your best travel experience </h2>





<br>

<!-- HTMl: 

 <div class="hexagon"> </div>  


CSS:
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
} --> 
 

</body>
</html>