<!DOCTYPE html>
<html>
<head>

<link href="../static/css/information.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'> 


	<title> information about BesTrip </title>
</head>
<body>


<br>
<br>
<br>



<h1> &emsp; &emsp; &emsp;  About BesTrip  

<img src="../static/pictures/TravelSunCut.jpg" align="right" height="250" width="350"> 
<img src="../static/pictures/CarFun.jpg" align="right" height="250" width="350"> 

 </h1> 

<p class="about">  

BesTrip is based on the perception that a successful <br> trip is a trip which is synchronized with the expectation <br> of its travelers. <br>
We offer a variety of tools for achieving this goal, <br> such as: <br>
  	&emsp; &emsp; - General information about each trip <br> 
 	&emsp; &emsp; - People' feedback on each trip 

 	 <img src="../static/pictures/PeopleHiking.jpg" align="right" height="250" width="350">
 	 <img src="../static/pictures/ViewHappiness.jpg" align="right" height="250" width="350">

 	<br>
 	&emsp; &emsp; - Calendar that reflects the amount of <br> &emsp; &emsp; &emsp; &emsp;  travelers  who plan to travel in the same 


 	<br>  &emsp; &emsp; &emsp; &emsp; dates as you <br>

 All this has been created for the aim of understanding <br> in  advanced the trip, and by it to earn the best trip for <br> all.

</p>

<p class="ENJOY">
	&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; ENJOY
</p>



</body>
</html>
